<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Mis Operaciones</h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>Documento</th>
              <th>Nombres</th>
              <th>Apellido Paterno</th>
              <th>Apellido Materno</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>123456789</td>
              <td>John Doe</td>
              <td>Suarez</td>
              <td>Gonzales</td>
              <td>Prospectado</td>
              <td>Actualizar</td>
            </tr>
            <tr>
              <td>234567891</td>
              <td>Alexander Pierce</td>
              <td>Suarez</td>
              <td>Gonzales</td>
              <td>Enviado documentación</td>
              <td>Actualizar</td>
            </tr>
            <tr>
              <td>345678912</td>
              <td>Rodriguez</td>
              <td>Suarez</td>
              <td>Gonzales</td>
              <td>Ingresado a Indra</td>
              <td>Actualizar</td>
            </tr>
            <tr>
              <td>456789123</td>
              <td>Mike Doe</td>
              <td>Suarez</td>
              <td>Gonzales</td>
              <td>Desembolsado</td>
              <td>Actualizar</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>