<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Mis Operaciones</h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>Tipo Documento</th>
              <th>Numero Documento</th>
              <th>Nombre</th>
              <th>Apellido Paterno</th>
              <th>Apellido Materno</th>
              <th>Origen</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let OPERACION of OPERACIONES">
              <td>{{OPERACION.TIPO_DOCUMENTO}}</td>
              <td>{{OPERACION.NUMERO_DOCUMENTO}}</td>
              <td>{{OPERACION.NOMBRE}}</td>
              <td>{{OPERACION.APELLIDO_PATERNO}}</td>
              <td>{{OPERACION.APELLIDO_MATERNO}}</td>
              <td>{{OPERACION.ORIGEN}}</td>
              <td>Actualizar</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>